/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
Colors used -
Text color_black;
Background color #e3e0cf;
Link, default button #2C3531;
Link (active), secondary button #116466;
Link (visited) #70357b;
Link (hover) #e0b354;
Grid color 1 lightgray
Grid color 2 #cfd2e3;
*/

/* GENERAL */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  background-color: #e3e0cf;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}



/* Header */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}



/* Navigation section */

a {
  color: #2C3531;   /* general color of the links */
}

a:visited {
  color: #70357b;
}

a:hover, a:focus {
  text-decoration: none;      /* No underlining when hovering over a link */
}

a:active {
  color: #116466;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list__item:hover {
  color: #e0b354;;   /* Changes the color on all links upon hovering */
}

.navigation-list__item--active:hover {
  color: #e0b354;;   /* Changes the color on all links upon hovering */
}

.code-link:hover {
  color: #e0b354;;   /* Changes the color on all links upon hovering */
}

.navigation-list {
  list-style-type: none; /* Gets rid of the dots in the list items */
}

.navigation-list li {
  display: inline-block; /* Moves the li into a straight line */
  margin-left: 15px;
}



/* Footer */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* This is what assigns the flexbox layout */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;

}



/* INDEX */

button  {
  border: none;      /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit;      /* takes the font from the outer container */
  background-color: #cfd2e3; /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;      /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.button  {
  border: none;      /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit;      /* takes the font from the outer container */
  background-color: #cfd2e3; /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;      /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

#send-button  {
  border: none;      /* overwrites browser defaults and resets the border */
  display: inline-block;
  font-family: inherit;      /* takes the font from the outer container */
  background-color: #cfd2e3; /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;      /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
#send-button:hover,
#send-button:focus,
.button:hover,        /* actually on ABOUT ME page but used here to add to other button rules */
.button:focus {
  cursor: pointer;    /* lets the mouse appear as a hand when hovering over the button */
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: 0.8;      /* reduces the opacity of the button to 80% */
}

.button__secondary {
  background-color: #116466;
  color: white;
}

.profile__portrait {    /* Profile picture edits */
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

/* ABOUT ME */

.bio_text {
  text-align: center;
}

.bio_table {
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* WORK */

.grid {
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid_item:nth-child(even) {
   background-color: #cfd2e3;
}

.grid_item:nth-child(odd) {
   background-color: lightgray;
}


/* CONTACT */

.main-contact {
  text-align: center;
}

.contact-form {
width: 100%;
padding: 12px 20px;
text-align: center;
display: inline-block;
}

textarea {
display : inline-block;
border: none;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.berlin-illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
